body{
    min-height: 150vh;
    width: 100%;
    background-image: linear-gradient(darkblue, darkcyan);
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image 0.5s ease-in-out, background-size 0.5s ease-in-out;
    
    
}

#bg-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none; /* permite clicar nos elementos acima */
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}


main{
    display: flex;
    height: 100%;
    width:100%;
    flex-direction: column;
}

form{
    margin-top: 10rem;
    margin-bottom: 4rem;
    text-align: right;
}

form input{
    margin-bottom: 0.6rem;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

.invisible {
    display: none;
}

.card {
    margin-top: 1.5rem;
    background-color: black;
    border: 1px, solid, whitesmoke;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 1);
    color: white;
    overflow: hidden;
    text-align: center;
    height: 28rem;
    display: flex;
    justify-content: space-between;

    transition: all 0.5s ease;
}

.card:hover{
    scale: 1.05
}
.card-image{
    width: 100%;
    height: 17rem;
}

.card-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    font-weight: bold;
    background-color: black;
}

.card-btn{
    display: flex;
    flex-direction: column;
    
}

#modal-image{
    background-repeat : "no-repeat";
    background-size : "cover";
    width : "100%";
}

#modal-content-remover{
    background-image: linear-gradient(black, black, rgb(85, 85, 85));
    color: whitesmoke;
    font-weight: bold;
}

#modal-header-remover{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}



#modal-body-remover{
    width: 12rem;
    height: 18rem;
    align-self: center;
    text-align: center;
    margin-bottom: 1rem;
}

#modal-body-remover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid white;
    border-radius: 10px;
    overflow: hidden;
}

#modal-footer-remover{
    display: flex;
    height: 4rem;
    padding: 10px 0px 10px 0px;
    justify-content: space-between;
}
#confirmar-btn-remover{
    height: 100%;
    width: 45%;
    margin-left: 1rem;
    padding: 0;
    font-weight: bold;
}

#cancelar-btn-remover{
    height: 100%;
    width: 45%;
    margin-right: 1rem;
    padding: 0;
    font-weight: bold;
}


#containerRemove{
    position: absolute;
    display: flex;
    
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    z-index: 999;
    width: max-content;
    height: max-content;
}

#remove-btn{
    border-radius: 0px;
    font-weight: bold;
}

#change-btn{
    color: whitesmoke;
    font-weight: bold;
    background-color: orange;
    border-radius: 0px;
}

