#modal-content-remover{
    background-image: linear-gradient(black, black, rgb(85, 85, 85));
    color: whitesmoke;
    font-weight: bold;
}

#modal-header-remover{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}



#modal-body-remover{
    width: 12rem;
    height: 18rem;
    align-self: center;
    text-align: center;
    margin-bottom: 1rem;
}

#modal-body-remover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid white;
    border-radius: 10px;
    overflow: hidden;
}

#modal-footer-remover{
    display: flex;
    height: 4rem;
    padding: 10px 0px 10px 0px;
    justify-content: space-between;
}
#confirmar-btn-remover{
    height: 100%;
    width: 45%;
    margin-left: 1rem;
    padding: 0;
    font-weight: bold;
}

#cancelar-btn-remover{
    height: 100%;
    width: 45%;
    margin-right: 1rem;
    padding: 0;
    font-weight: bold;
}



#remove-btn{
    border-radius: 0px;
    font-weight: bold;
}