#modalAlterar{
    margin-top: 4rem;
}

#header-edit{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    border-bottom: 3px solid white;
}

#modal-content-edit{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(black, black, gray);
    color: whitesmoke;
    font-weight: bold;
}

#modal-footer-edit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-top: 4px solid white;

}

#modal-body-edit{
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-alterar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

#btn-editar{
    width: 45%;
    margin-left: 1rem;
    background-color: orangered;
    color: white;
    font-weight: bold;
    transition: all 0.3s ease;
}

#btn-editar:hover{
    background-color: rgba(255, 68, 0, 0.766);
}

#cancelarBtnAlterar{
    width: 45%;
    margin-right: 1rem;
}