<main>
    <div class="container">
        <div class="row">
            <h2>Login</h2>
            <div>
                <form action="/login" method="post">
                    <input type="text" name="user" class="form-control" placeholder="user"
                    onkeypress="return event.charCode !== 32"
                    oninput="this.value = this.value.replace(/\s/g, '')" required>
                    <input type="password" name="password" class="form-control" placeholder="password" required>
                    <input type="checkbox" id="check-box" name="checkBox">
                    <label for="check-box">MK</label>
                    <a href="/register" class="btn btn-secondary"> Register now </a>
                    <button type="submit" class="btn btn-primary">Enter</button>
                </form>
            </div>
        </div>
    </div>
</main>